<launch>
	<!-- Version simple: urdf directo al robot_descrpition POR QUE NO FUNCIONA?
	<param name="robot_description" value="$(find enesbot_dualarm)/urdf/nV01.urdf"/>
	 -->

	 	<!-- Declaramos el arg "model" con valor del urdf.
	Cargamos ese model con xacro.py al parametro robot_description
	-->

	<arg name = "model" default = "$(find enesbot_dualarm)/urdf/n.xacro"/>
	<arg name="rvizconfig" default="$(find enesbot_dualarm)/rviz/conf.rviz" />
	<param name = "robot_description" command="$(find xacro)/xacro $(arg model) --inorder"/>
	<param name="use_gui" value="true"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(arg rvizconfig)"/>

</launch>
